---
layout: archive
author_profile: true
---

I am a Research Scientist at Deepmind in London. Previously, I was a PhD student at MIT under the supervision of Joshua Tenenbaum. 

I am interested in Reinforcement Learning, Deep Learning and Inference Algorithms.

<h4 class="archive__subtitle">Recent News<h4>
- Co-organizing [NAMPI workshop](https://uclmr.github.io/nampi/) at NIPS 2016 (Spain) 
  
<!--
{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
--!>

