---
layout: archive
author_profile: true
---

I am a Research Scientist at Deepmind in London. Previously, I was a PhD student at MIT under the supervision of Joshua Tenenbaum. I am interested in Reinforcement Learning, Deep Learning and Inference Algorithms.

<h2 id="unordered-lists-nested">Unordered Lists (Nested)</h2>

<ul>
  <li>List item one
    <ul>
      <li>List item one
        <ul>
          <li>List item one</li>
          <li>List item two</li>
          <li>List item three</li>
          <li>List item four</li>
        </ul>
      </li>
      <li>List item two</li>
      <li>List item three</li>
      <li>List item four</li>
    </ul>
  </li>
  <li>List item two</li>
  <li>List item three</li>
  <li>List item four</li>
</ul>

<!-- <h3 class="archive__subtitle">News</h3> -->

Co-organizing (NAMPI)[https://uclmr.github.io/nampi/] workshop at NIPS 2016 (Spain)

June 2016: Successfully defended my thesis at MIT

Sep 2015: Best Paper Honorable Mention Award at EMNLP

June 2015: Best Paper Honorable Mention Award at CVPR

May 2015: Visiting DeepMind

July 2015: Invited talk at Oxford

2012-2016: Singleton Fellow, Leventhal Fellow, MIT CBMM-Siemens Fellow


  
<!--
{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
--!>

